@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<span>@erMessage</span>

@if (GetingLocation)
{
    <div>
     <div class="spinner-border text-danger"></div>
        Geting Your Location ...
    </div>
    
}
 <GoogleMapClassLibrary.GoogleMap @ref="MapRef" >
 
</GoogleMapClassLibrary.GoogleMap>  



